<div>
  <h2 id="page-heading" data-cy="EscrowAccountDetailsHeading">
    <span jhiTranslate="cbapisApp.escrowAccountDetails.home.title">Escrow Account Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbapisApp.escrowAccountDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-escrow-account-details"
        [routerLink]="['/escrow-account-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbapisApp.escrowAccountDetails.home.createLabel">Create a new Escrow Account Details</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (escrowAccountDetails?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="cbapisApp.escrowAccountDetails.home.notFound">No Escrow Account Details found</span>
    </div>
  }

  @if (escrowAccountDetails && escrowAccountDetails.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="escrowDetailsId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.escrowDetailsId">Escrow Details Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenantId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.tenantId">Tenant Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.customerId">Customer Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="accName">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.accName">Acc Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ifscCode">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.ifscCode">Ifsc Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="virtualAccNumber">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.virtualAccNumber">Virtual Acc Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="poolingAccNumber">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.poolingAccNumber">Pooling Acc Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="disbursement.dbmtRequestId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.disbursement">Disbursement</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="repayment.repaymentId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.escrowAccountDetails.repayment">Repayment</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (escrowAccountDetails of escrowAccountDetails; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/escrow-account-details', escrowAccountDetails.id, 'view']">{{ escrowAccountDetails.id }}</a>
              </td>
              <td>{{ escrowAccountDetails.escrowDetailsId }}</td>
              <td>{{ escrowAccountDetails.tenantId }}</td>
              <td>{{ escrowAccountDetails.customerId }}</td>
              <td>{{ escrowAccountDetails.accName }}</td>
              <td>{{ escrowAccountDetails.ifscCode }}</td>
              <td>{{ escrowAccountDetails.virtualAccNumber }}</td>
              <td>{{ escrowAccountDetails.poolingAccNumber }}</td>
              <td>
                @if (escrowAccountDetails.disbursement) {
                  <div>
                    <a [routerLink]="['/disbursement', escrowAccountDetails.disbursement.id, 'view']">{{
                      escrowAccountDetails.disbursement.dbmtRequestId
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (escrowAccountDetails.repayment) {
                  <div>
                    <a [routerLink]="['/repayment', escrowAccountDetails.repayment.id, 'view']">{{
                      escrowAccountDetails.repayment.repaymentId
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/escrow-account-details', escrowAccountDetails.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/escrow-account-details', escrowAccountDetails.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(escrowAccountDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (escrowAccountDetails && escrowAccountDetails.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
