<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (context) {
      <div>
        <h2 data-cy="contextDetailsHeading"><span jhiTranslate="cbapisApp.context.detail.title">Context</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ context.id }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.context.transactionId">Transaction Id</span></dt>
          <dd>
            <span>{{ context.transactionId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.context.transactionDate">Transaction Date</span></dt>
          <dd>
            <span>{{ context.transactionDate }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.context.action">Action</span></dt>
          <dd>
            <span>{{ context.action }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.context.userId">User Id</span></dt>
          <dd>
            <span>{{ context.userId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.context.tenantId">Tenant Id</span></dt>
          <dd>
            <span>{{ context.tenantId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.context.cpCode">Cp Code</span></dt>
          <dd>
            <span>{{ context.cpCode }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.context.msgpayload">Msgpayload</span></dt>
          <dd>
            <span>{{ context.msgpayload }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/context', context.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
