<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cBCREProcess) {
      <div>
        <h2 data-cy="cBCREProcessDetailsHeading"><span jhiTranslate="cbapisApp.cBCREProcess.detail.title">CBCRE Process</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cBCREProcess.id }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.cbProcessId">Cb Process Id</span></dt>
          <dd>
            <span>{{ cBCREProcess.cbProcessId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.cbProcessUlidId">Cb Process Ulid Id</span></dt>
          <dd>
            <span>{{ cBCREProcess.cbProcessUlidId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.cbProcessRefNo">Cb Process Ref No</span></dt>
          <dd>
            <span>{{ cBCREProcess.cbProcessRefNo }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.anchorTraderId">Anchor Trader Id</span></dt>
          <dd>
            <span>{{ cBCREProcess.anchorTraderId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.anchorTraderGst">Anchor Trader Gst</span></dt>
          <dd>
            <span>{{ cBCREProcess.anchorTraderGst }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.financeAmount">Finance Amount</span></dt>
          <dd>
            <span>{{ cBCREProcess.financeAmount }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.processDateTime">Process Date Time</span></dt>
          <dd>
            <span>{{ cBCREProcess.processDateTime }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.creProcessStatus">Cre Process Status</span></dt>
          <dd>
            <span>{{ cBCREProcess.creProcessStatus }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.responseDateTime">Response Date Time</span></dt>
          <dd>
            <span>{{ cBCREProcess.responseDateTime }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.creRequestId">Cre Request Id</span></dt>
          <dd>
            <span>{{ cBCREProcess.creRequestId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.cumilativeTradeScore">Cumilative Trade Score</span></dt>
          <dd>
            <span>{{ cBCREProcess.cumilativeTradeScore }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.timestamp">Timestamp</span></dt>
          <dd>
            <span>{{ cBCREProcess.timestamp }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.totalAmountRequested">Total Amount Requested</span></dt>
          <dd>
            <span>{{ cBCREProcess.totalAmountRequested }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.totalInvoiceAmount">Total Invoice Amount</span></dt>
          <dd>
            <span>{{ cBCREProcess.totalInvoiceAmount }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.status">Status</span></dt>
          <dd>
            <span>{{ cBCREProcess.status }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.cBCREProcess.financeRequest">Finance Request</span></dt>
          <dd>
            @if (cBCREProcess.financeRequest) {
              <div>
                <a [routerLink]="['/finance-request', cBCREProcess.financeRequest.id, 'view']">{{
                  cBCREProcess.financeRequest.financeRequestId
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/cbcre-process', cBCREProcess.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
