<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-disbursement-heading"
        data-cy="DisbursementCreateUpdateHeading"
        jhiTranslate="cbapisApp.disbursement.home.createOrEditLabel"
      >
        Create or edit a Disbursement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.dbmtId" for="field_dbmtId">Dbmt Id</label>
          <input type="number" class="form-control" name="dbmtId" id="field_dbmtId" data-cy="dbmtId" formControlName="dbmtId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.disbursementUlidId" for="field_disbursementUlidId"
            >Disbursement Ulid Id</label
          >
          <input
            type="text"
            class="form-control"
            name="disbursementUlidId"
            id="field_disbursementUlidId"
            data-cy="disbursementUlidId"
            formControlName="disbursementUlidId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.disbursementRefNo" for="field_disbursementRefNo"
            >Disbursement Ref No</label
          >
          <input
            type="text"
            class="form-control"
            name="disbursementRefNo"
            id="field_disbursementRefNo"
            data-cy="disbursementRefNo"
            formControlName="disbursementRefNo"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.acceptedOfferUlidId" for="field_acceptedOfferUlidId"
            >Accepted Offer Ulid Id</label
          >
          <input
            type="text"
            class="form-control"
            name="acceptedOfferUlidId"
            id="field_acceptedOfferUlidId"
            data-cy="acceptedOfferUlidId"
            formControlName="acceptedOfferUlidId"
          />
          @if (
            editForm.get('acceptedOfferUlidId')!.invalid &&
            (editForm.get('acceptedOfferUlidId')!.dirty || editForm.get('acceptedOfferUlidId')!.touched)
          ) {
            <div>
              @if (editForm.get('acceptedOfferUlidId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.placedOfferUlidId" for="field_placedOfferUlidId"
            >Placed Offer Ulid Id</label
          >
          <input
            type="text"
            class="form-control"
            name="placedOfferUlidId"
            id="field_placedOfferUlidId"
            data-cy="placedOfferUlidId"
            formControlName="placedOfferUlidId"
          />
          @if (
            editForm.get('placedOfferUlidId')!.invalid &&
            (editForm.get('placedOfferUlidId')!.dirty || editForm.get('placedOfferUlidId')!.touched)
          ) {
            <div>
              @if (editForm.get('placedOfferUlidId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.reqOffUlidId" for="field_reqOffUlidId">Req Off Ulid Id</label>
          <input
            type="text"
            class="form-control"
            name="reqOffUlidId"
            id="field_reqOffUlidId"
            data-cy="reqOffUlidId"
            formControlName="reqOffUlidId"
          />
          @if (editForm.get('reqOffUlidId')!.invalid && (editForm.get('reqOffUlidId')!.dirty || editForm.get('reqOffUlidId')!.touched)) {
            <div>
              @if (editForm.get('reqOffUlidId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.offerAcceptedDate" for="field_offerAcceptedDate"
            >Offer Accepted Date</label
          >
          <div class="input-group">
            <input
              id="field_offerAcceptedDate"
              data-cy="offerAcceptedDate"
              type="text"
              class="form-control"
              name="offerAcceptedDate"
              ngbDatepicker
              #offerAcceptedDateDp="ngbDatepicker"
              formControlName="offerAcceptedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="offerAcceptedDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (
            editForm.get('offerAcceptedDate')!.invalid &&
            (editForm.get('offerAcceptedDate')!.dirty || editForm.get('offerAcceptedDate')!.touched)
          ) {
            <div>
              @if (editForm.get('offerAcceptedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.dbmtRequestId" for="field_dbmtRequestId">Dbmt Request Id</label>
          <input
            type="text"
            class="form-control"
            name="dbmtRequestId"
            id="field_dbmtRequestId"
            data-cy="dbmtRequestId"
            formControlName="dbmtRequestId"
          />
          @if (editForm.get('dbmtRequestId')!.invalid && (editForm.get('dbmtRequestId')!.dirty || editForm.get('dbmtRequestId')!.touched)) {
            <div>
              @if (editForm.get('dbmtRequestId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.dbmtReqAmount" for="field_dbmtReqAmount">Dbmt Req Amount</label>
          <input
            type="number"
            class="form-control"
            name="dbmtReqAmount"
            id="field_dbmtReqAmount"
            data-cy="dbmtReqAmount"
            formControlName="dbmtReqAmount"
          />
          @if (editForm.get('dbmtReqAmount')!.invalid && (editForm.get('dbmtReqAmount')!.dirty || editForm.get('dbmtReqAmount')!.touched)) {
            <div>
              @if (editForm.get('dbmtReqAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dbmtReqAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.currency" for="field_currency">Currency</label>
          <input type="text" class="form-control" name="currency" id="field_currency" data-cy="currency" formControlName="currency" />
          @if (editForm.get('currency')!.invalid && (editForm.get('currency')!.dirty || editForm.get('currency')!.touched)) {
            <div>
              @if (editForm.get('currency')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.dbmtRequestDate" for="field_dbmtRequestDate"
            >Dbmt Request Date</label
          >
          <div class="input-group">
            <input
              id="field_dbmtRequestDate"
              data-cy="dbmtRequestDate"
              type="text"
              class="form-control"
              name="dbmtRequestDate"
              ngbDatepicker
              #dbmtRequestDateDp="ngbDatepicker"
              formControlName="dbmtRequestDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dbmtRequestDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (
            editForm.get('dbmtRequestDate')!.invalid && (editForm.get('dbmtRequestDate')!.dirty || editForm.get('dbmtRequestDate')!.touched)
          ) {
            <div>
              @if (editForm.get('dbmtRequestDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.dbmtStatus" for="field_dbmtStatus">Dbmt Status</label>
          <input
            type="text"
            class="form-control"
            name="dbmtStatus"
            id="field_dbmtStatus"
            data-cy="dbmtStatus"
            formControlName="dbmtStatus"
          />
          @if (editForm.get('dbmtStatus')!.invalid && (editForm.get('dbmtStatus')!.dirty || editForm.get('dbmtStatus')!.touched)) {
            <div>
              @if (editForm.get('dbmtStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.offerStatus" for="field_offerStatus">Offer Status</label>
          <input
            type="text"
            class="form-control"
            name="offerStatus"
            id="field_offerStatus"
            data-cy="offerStatus"
            formControlName="offerStatus"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.docId" for="field_docId">Doc Id</label>
          <input type="number" class="form-control" name="docId" id="field_docId" data-cy="docId" formControlName="docId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.dbmtDateTime" for="field_dbmtDateTime">Dbmt Date Time</label>
          <input
            type="text"
            class="form-control"
            name="dbmtDateTime"
            id="field_dbmtDateTime"
            data-cy="dbmtDateTime"
            formControlName="dbmtDateTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.dbmtAmount" for="field_dbmtAmount">Dbmt Amount</label>
          <input
            type="number"
            class="form-control"
            name="dbmtAmount"
            id="field_dbmtAmount"
            data-cy="dbmtAmount"
            formControlName="dbmtAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.financeRequestId" for="field_financeRequestId"
            >Finance Request Id</label
          >
          <input
            type="number"
            class="form-control"
            name="financeRequestId"
            id="field_financeRequestId"
            data-cy="financeRequestId"
            formControlName="financeRequestId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.amountToBeDisbursed" for="field_amountToBeDisbursed"
            >Amount To Be Disbursed</label
          >
          <input
            type="text"
            class="form-control"
            name="amountToBeDisbursed"
            id="field_amountToBeDisbursed"
            data-cy="amountToBeDisbursed"
            formControlName="amountToBeDisbursed"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.destinationAccountName" for="field_destinationAccountName"
            >Destination Account Name</label
          >
          <input
            type="text"
            class="form-control"
            name="destinationAccountName"
            id="field_destinationAccountName"
            data-cy="destinationAccountName"
            formControlName="destinationAccountName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.destinationAccountNumber" for="field_destinationAccountNumber"
            >Destination Account Number</label
          >
          <input
            type="text"
            class="form-control"
            name="destinationAccountNumber"
            id="field_destinationAccountNumber"
            data-cy="destinationAccountNumber"
            formControlName="destinationAccountNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.recordStatus" for="field_recordStatus">Record Status</label>
          <input
            type="text"
            class="form-control"
            name="recordStatus"
            id="field_recordStatus"
            data-cy="recordStatus"
            formControlName="recordStatus"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.actionByDate" for="field_actionByDate">Action By Date</label>
          <input
            type="text"
            class="form-control"
            name="actionByDate"
            id="field_actionByDate"
            data-cy="actionByDate"
            formControlName="actionByDate"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.financerequest" for="field_financerequest">Financerequest</label>
          <select
            class="form-control"
            id="field_financerequest"
            data-cy="financerequest"
            name="financerequest"
            formControlName="financerequest"
            [compareWith]="compareFinanceRequest"
          >
            <option [ngValue]="null"></option>
            @for (financeRequestOption of financeRequestsSharedCollection; track $index) {
              <option [ngValue]="financeRequestOption">{{ financeRequestOption.financeRequestId }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.disbursement.financepartner" for="field_financepartner">Financepartner</label>
          <select
            class="form-control"
            id="field_financepartner"
            data-cy="financepartner"
            name="financepartner"
            formControlName="financepartner"
            [compareWith]="compareFinancePartner"
          >
            <option [ngValue]="null"></option>
            @for (financePartnerOption of financePartnersSharedCollection; track $index) {
              <option [ngValue]="financePartnerOption">{{ financePartnerOption.fpId }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
