<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-individual-assessment-heading"
        data-cy="IndividualAssessmentCreateUpdateHeading"
        jhiTranslate="cbapisApp.individualAssessment.home.createOrEditLabel"
      >
        Create or edit a Individual Assessment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.assessmentId" for="field_assessmentId"
            >Assessment Id</label
          >
          <input
            type="number"
            class="form-control"
            name="assessmentId"
            id="field_assessmentId"
            data-cy="assessmentId"
            formControlName="assessmentId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.assessmentUlidId" for="field_assessmentUlidId"
            >Assessment Ulid Id</label
          >
          <input
            type="text"
            class="form-control"
            name="assessmentUlidId"
            id="field_assessmentUlidId"
            data-cy="assessmentUlidId"
            formControlName="assessmentUlidId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.creditScore" for="field_creditScore">Credit Score</label>
          <input
            type="number"
            class="form-control"
            name="creditScore"
            id="field_creditScore"
            data-cy="creditScore"
            formControlName="creditScore"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.finalVerdict" for="field_finalVerdict"
            >Final Verdict</label
          >
          <input
            type="text"
            class="form-control"
            name="finalVerdict"
            id="field_finalVerdict"
            data-cy="finalVerdict"
            formControlName="finalVerdict"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.creRequestId" for="field_creRequestId"
            >Cre Request Id</label
          >
          <input
            type="text"
            class="form-control"
            name="creRequestId"
            id="field_creRequestId"
            data-cy="creRequestId"
            formControlName="creRequestId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.timestamp" for="field_timestamp">Timestamp</label>
          <input type="text" class="form-control" name="timestamp" id="field_timestamp" data-cy="timestamp" formControlName="timestamp" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.tradePartnerGST" for="field_tradePartnerGST"
            >Trade Partner GST</label
          >
          <input
            type="text"
            class="form-control"
            name="tradePartnerGST"
            id="field_tradePartnerGST"
            data-cy="tradePartnerGST"
            formControlName="tradePartnerGST"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.tradePartnerId" for="field_tradePartnerId"
            >Trade Partner Id</label
          >
          <input
            type="text"
            class="form-control"
            name="tradePartnerId"
            id="field_tradePartnerId"
            data-cy="tradePartnerId"
            formControlName="tradePartnerId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.invoiceAmount" for="field_invoiceAmount"
            >Invoice Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="invoiceAmount"
            id="field_invoiceAmount"
            data-cy="invoiceAmount"
            formControlName="invoiceAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.invoiceId" for="field_invoiceId">Invoice Id</label>
          <input type="text" class="form-control" name="invoiceId" id="field_invoiceId" data-cy="invoiceId" formControlName="invoiceId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.baseScore" for="field_baseScore">Base Score</label>
          <input type="text" class="form-control" name="baseScore" id="field_baseScore" data-cy="baseScore" formControlName="baseScore" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.ctin" for="field_ctin">Ctin</label>
          <input type="text" class="form-control" name="ctin" id="field_ctin" data-cy="ctin" formControlName="ctin" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.invDate" for="field_invDate">Inv Date</label>
          <input type="text" class="form-control" name="invDate" id="field_invDate" data-cy="invDate" formControlName="invDate" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.cbProcessId" for="field_cbProcessId">Cb Process Id</label>
          <input
            type="number"
            class="form-control"
            name="cbProcessId"
            id="field_cbProcessId"
            data-cy="cbProcessId"
            formControlName="cbProcessId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.grnPresent" for="field_grnPresent">Grn Present</label>
          <input
            type="checkbox"
            class="form-check"
            name="grnPresent"
            id="field_grnPresent"
            data-cy="grnPresent"
            formControlName="grnPresent"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.einvoicePresent" for="field_einvoicePresent"
            >Einvoice Present</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="einvoicePresent"
            id="field_einvoicePresent"
            data-cy="einvoicePresent"
            formControlName="einvoicePresent"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.ewayBillPresent" for="field_ewayBillPresent"
            >Eway Bill Present</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="ewayBillPresent"
            id="field_ewayBillPresent"
            data-cy="ewayBillPresent"
            formControlName="ewayBillPresent"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="cbapisApp.individualAssessment.tradePartnerConfirmation"
            for="field_tradePartnerConfirmation"
            >Trade Partner Confirmation</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="tradePartnerConfirmation"
            id="field_tradePartnerConfirmation"
            data-cy="tradePartnerConfirmation"
            formControlName="tradePartnerConfirmation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.individualAssessment.cbcreprocess" for="field_cbcreprocess">Cbcreprocess</label>
          <select
            class="form-control"
            id="field_cbcreprocess"
            data-cy="cbcreprocess"
            name="cbcreprocess"
            formControlName="cbcreprocess"
            [compareWith]="compareCBCREProcess"
          >
            <option [ngValue]="null"></option>
            @for (cBCREProcessOption of cBCREProcessesSharedCollection; track $index) {
              <option [ngValue]="cBCREProcessOption">{{ cBCREProcessOption.cbProcessId }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
