<div>
  <h2 id="page-heading" data-cy="IndividualAssessmentHeading">
    <span jhiTranslate="cbapisApp.individualAssessment.home.title">Individual Assessments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbapisApp.individualAssessment.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-individual-assessment"
        [routerLink]="['/individual-assessment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbapisApp.individualAssessment.home.createLabel">Create a new Individual Assessment</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (individualAssessments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="cbapisApp.individualAssessment.home.notFound">No Individual Assessments found</span>
    </div>
  }

  @if (individualAssessments && individualAssessments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assessmentId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.assessmentId">Assessment Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assessmentUlidId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.assessmentUlidId">Assessment Ulid Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creditScore">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.creditScore">Credit Score</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="finalVerdict">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.finalVerdict">Final Verdict</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creRequestId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.creRequestId">Cre Request Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timestamp">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.timestamp">Timestamp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tradePartnerGST">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.tradePartnerGST">Trade Partner GST</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tradePartnerId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.tradePartnerId">Trade Partner Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="invoiceAmount">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.invoiceAmount">Invoice Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="invoiceId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.invoiceId">Invoice Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cbcreprocess.cbProcessId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.individualAssessment.cbcreprocess">Cbcreprocess</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (individualAssessment of individualAssessments; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/individual-assessment', individualAssessment.id, 'view']">{{ individualAssessment.id }}</a>
              </td>
              <td>{{ individualAssessment.assessmentId }}</td>
              <td>{{ individualAssessment.assessmentUlidId }}</td>
              <td>{{ individualAssessment.creditScore }}</td>
              <td>{{ individualAssessment.finalVerdict }}</td>
              <td>{{ individualAssessment.creRequestId }}</td>
              <td>{{ individualAssessment.timestamp }}</td>
              <td>{{ individualAssessment.tradePartnerGST }}</td>
              <td>{{ individualAssessment.tradePartnerId }}</td>
              <td>{{ individualAssessment.invoiceAmount }}</td>
              <td>{{ individualAssessment.invoiceId }}</td>
              <td>
                @if (individualAssessment.cbcreprocess) {
                  <div>
                    <a [routerLink]="['/cbcre-process', individualAssessment.cbcreprocess.id, 'view']">{{
                      individualAssessment.cbcreprocess.cbProcessId
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/individual-assessment', individualAssessment.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/individual-assessment', individualAssessment.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(individualAssessment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (individualAssessments && individualAssessments.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
