<div>
  <h2 id="page-heading" data-cy="UserDtlsHeading">
    <span jhiTranslate="cbapisApp.userDtls.home.title">User Dtls</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbapisApp.userDtls.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-dtls"
        [routerLink]="['/user-dtls/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbapisApp.userDtls.home.createLabel">Create a new User Dtls</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (userDtls?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="cbapisApp.userDtls.home.notFound">No User Dtls found</span>
    </div>
  }

  @if (userDtls && userDtls.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.userId">User Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userName">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.userName">User Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenantId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.tenantId">Tenant Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isAnchorTraderEnabled">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.isAnchorTraderEnabled">Is Anchor Trader Enabled</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anchorTraderId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.anchorTraderId">Anchor Trader Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isTradePartnerEnabled">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.isTradePartnerEnabled">Is Trade Partner Enabled</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tradePartnerId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.tradePartnerId">Trade Partner Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isFinancePartnerEnabled">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.isFinancePartnerEnabled">Is Finance Partner Enabled</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="financePartnerId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.financePartnerId">Finance Partner Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="defaultPersona">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.defaultPersona">Default Persona</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="organization.orgId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.userDtls.organization">Organization</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (userDtls of userDtls; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/user-dtls', userDtls.id, 'view']">{{ userDtls.id }}</a>
              </td>
              <td>{{ userDtls.userId }}</td>
              <td>{{ userDtls.userName }}</td>
              <td>{{ userDtls.tenantId }}</td>
              <td>{{ userDtls.isAnchorTraderEnabled }}</td>
              <td>{{ userDtls.anchorTraderId }}</td>
              <td>{{ userDtls.isTradePartnerEnabled }}</td>
              <td>{{ userDtls.tradePartnerId }}</td>
              <td>{{ userDtls.isFinancePartnerEnabled }}</td>
              <td>{{ userDtls.financePartnerId }}</td>
              <td jhiTranslate="{{ 'cbapisApp.Persona.' + userDtls.defaultPersona }}">{{ userDtls.defaultPersona }}</td>
              <td>
                @if (userDtls.organization) {
                  <div>
                    <a [routerLink]="['/organization', userDtls.organization.id, 'view']">{{ userDtls.organization.orgId }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/user-dtls', userDtls.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/user-dtls', userDtls.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(userDtls)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (userDtls && userDtls.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
