<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-anchor-trader-heading"
        data-cy="AnchorTraderCreateUpdateHeading"
        jhiTranslate="cbapisApp.anchorTrader.home.createOrEditLabel"
      >
        Create or edit a Anchor Trader
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.atId" for="field_atId">At Id</label>
          <input type="number" class="form-control" name="atId" id="field_atId" data-cy="atId" formControlName="atId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.atUlidId" for="field_atUlidId">At Ulid Id</label>
          <input type="text" class="form-control" name="atUlidId" id="field_atUlidId" data-cy="atUlidId" formControlName="atUlidId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.orgId" for="field_orgId">Org Id</label>
          <input type="text" class="form-control" name="orgId" id="field_orgId" data-cy="orgId" formControlName="orgId" />
          @if (editForm.get('orgId')!.invalid && (editForm.get('orgId')!.dirty || editForm.get('orgId')!.touched)) {
            <div>
              @if (editForm.get('orgId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.tenantId" for="field_tenantId">Tenant Id</label>
          <input type="text" class="form-control" name="tenantId" id="field_tenantId" data-cy="tenantId" formControlName="tenantId" />
          @if (editForm.get('tenantId')!.invalid && (editForm.get('tenantId')!.dirty || editForm.get('tenantId')!.touched)) {
            <div>
              @if (editForm.get('tenantId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.customerName" for="field_customerName">Customer Name</label>
          <input
            type="text"
            class="form-control"
            name="customerName"
            id="field_customerName"
            data-cy="customerName"
            formControlName="customerName"
          />
          @if (editForm.get('customerName')!.invalid && (editForm.get('customerName')!.dirty || editForm.get('customerName')!.touched)) {
            <div>
              @if (editForm.get('customerName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.orgName" for="field_orgName">Org Name</label>
          <input type="text" class="form-control" name="orgName" id="field_orgName" data-cy="orgName" formControlName="orgName" />
          @if (editForm.get('orgName')!.invalid && (editForm.get('orgName')!.dirty || editForm.get('orgName')!.touched)) {
            <div>
              @if (editForm.get('orgName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.gstId" for="field_gstId">Gst Id</label>
          <input type="text" class="form-control" name="gstId" id="field_gstId" data-cy="gstId" formControlName="gstId" />
          @if (editForm.get('gstId')!.invalid && (editForm.get('gstId')!.dirty || editForm.get('gstId')!.touched)) {
            <div>
              @if (editForm.get('gstId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="number"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
          @if (editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)) {
            <div>
              @if (editForm.get('phoneNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('phoneNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.anchorTraderName" for="field_anchorTraderName"
            >Anchor Trader Name</label
          >
          <input
            type="text"
            class="form-control"
            name="anchorTraderName"
            id="field_anchorTraderName"
            data-cy="anchorTraderName"
            formControlName="anchorTraderName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.location" for="field_location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.anchorTraderGST" for="field_anchorTraderGST"
            >Anchor Trader GST</label
          >
          <input
            type="text"
            class="form-control"
            name="anchorTraderGST"
            id="field_anchorTraderGST"
            data-cy="anchorTraderGST"
            formControlName="anchorTraderGST"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.anchorTraderSector" for="field_anchorTraderSector"
            >Anchor Trader Sector</label
          >
          <input
            type="text"
            class="form-control"
            name="anchorTraderSector"
            id="field_anchorTraderSector"
            data-cy="anchorTraderSector"
            formControlName="anchorTraderSector"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.anchorTraderPAN" for="field_anchorTraderPAN"
            >Anchor Trader PAN</label
          >
          <input
            type="text"
            class="form-control"
            name="anchorTraderPAN"
            id="field_anchorTraderPAN"
            data-cy="anchorTraderPAN"
            formControlName="anchorTraderPAN"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.kycCompleted" for="field_kycCompleted">Kyc Completed</label>
          <input
            type="text"
            class="form-control"
            name="kycCompleted"
            id="field_kycCompleted"
            data-cy="kycCompleted"
            formControlName="kycCompleted"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.bankDetails" for="field_bankDetails">Bank Details</label>
          <input
            type="text"
            class="form-control"
            name="bankDetails"
            id="field_bankDetails"
            data-cy="bankDetails"
            formControlName="bankDetails"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.emailId" for="field_emailId">Email Id</label>
          <input type="text" class="form-control" name="emailId" id="field_emailId" data-cy="emailId" formControlName="emailId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.personalEmailId" for="field_personalEmailId"
            >Personal Email Id</label
          >
          <input
            type="text"
            class="form-control"
            name="personalEmailId"
            id="field_personalEmailId"
            data-cy="personalEmailId"
            formControlName="personalEmailId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.accountNumber" for="field_accountNumber">Account Number</label>
          <input
            type="text"
            class="form-control"
            name="accountNumber"
            id="field_accountNumber"
            data-cy="accountNumber"
            formControlName="accountNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.ifscCode" for="field_ifscCode">Ifsc Code</label>
          <input type="text" class="form-control" name="ifscCode" id="field_ifscCode" data-cy="ifscCode" formControlName="ifscCode" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.bankName" for="field_bankName">Bank Name</label>
          <input type="text" class="form-control" name="bankName" id="field_bankName" data-cy="bankName" formControlName="bankName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.branchName" for="field_branchName">Branch Name</label>
          <input
            type="text"
            class="form-control"
            name="branchName"
            id="field_branchName"
            data-cy="branchName"
            formControlName="branchName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.erpAccess" for="field_erpAccess">Erp Access</label>
          <input type="checkbox" class="form-check" name="erpAccess" id="field_erpAccess" data-cy="erpAccess" formControlName="erpAccess" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.typeOfFirm" for="field_typeOfFirm">Type Of Firm</label>
          <input
            type="text"
            class="form-control"
            name="typeOfFirm"
            id="field_typeOfFirm"
            data-cy="typeOfFirm"
            formControlName="typeOfFirm"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.panStatus" for="field_panStatus">Pan Status</label>
          <input type="text" class="form-control" name="panStatus" id="field_panStatus" data-cy="panStatus" formControlName="panStatus" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.tosDocument" for="field_tosDocument">Tos Document</label>
          <input
            type="text"
            class="form-control"
            name="tosDocument"
            id="field_tosDocument"
            data-cy="tosDocument"
            formControlName="tosDocument"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.acceptTerms" for="field_acceptTerms">Accept Terms</label>
          <input
            type="checkbox"
            class="form-check"
            name="acceptTerms"
            id="field_acceptTerms"
            data-cy="acceptTerms"
            formControlName="acceptTerms"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.acceptDeclaration" for="field_acceptDeclaration"
            >Accept Declaration</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="acceptDeclaration"
            id="field_acceptDeclaration"
            data-cy="acceptDeclaration"
            formControlName="acceptDeclaration"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="cbapisApp.anchorTrader.gstRegistrationCertificateUploadStatus"
            for="field_gstRegistrationCertificateUploadStatus"
            >Gst Registration Certificate Upload Status</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="gstRegistrationCertificateUploadStatus"
            id="field_gstRegistrationCertificateUploadStatus"
            data-cy="gstRegistrationCertificateUploadStatus"
            formControlName="gstRegistrationCertificateUploadStatus"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="cbapisApp.anchorTrader.gstRegistrationCertificateVerificationStatus"
            for="field_gstRegistrationCertificateVerificationStatus"
            >Gst Registration Certificate Verification Status</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="gstRegistrationCertificateVerificationStatus"
            id="field_gstRegistrationCertificateVerificationStatus"
            data-cy="gstRegistrationCertificateVerificationStatus"
            formControlName="gstRegistrationCertificateVerificationStatus"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="cbapisApp.anchorTrader.gstRegistrationCertificateName"
            for="field_gstRegistrationCertificateName"
            >Gst Registration Certificate Name</label
          >
          <input
            type="text"
            class="form-control"
            name="gstRegistrationCertificateName"
            id="field_gstRegistrationCertificateName"
            data-cy="gstRegistrationCertificateName"
            formControlName="gstRegistrationCertificateName"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="cbapisApp.anchorTrader.udhyamRegistrationcertificateUploadStatus"
            for="field_udhyamRegistrationcertificateUploadStatus"
            >Udhyam Registrationcertificate Upload Status</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="udhyamRegistrationcertificateUploadStatus"
            id="field_udhyamRegistrationcertificateUploadStatus"
            data-cy="udhyamRegistrationcertificateUploadStatus"
            formControlName="udhyamRegistrationcertificateUploadStatus"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="cbapisApp.anchorTrader.udhyamRegistrationCertificateName"
            for="field_udhyamRegistrationCertificateName"
            >Udhyam Registration Certificate Name</label
          >
          <input
            type="text"
            class="form-control"
            name="udhyamRegistrationCertificateName"
            id="field_udhyamRegistrationCertificateName"
            data-cy="udhyamRegistrationCertificateName"
            formControlName="udhyamRegistrationCertificateName"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="cbapisApp.anchorTrader.udhyamRegistrationcertificateVerificationStatus"
            for="field_udhyamRegistrationcertificateVerificationStatus"
            >Udhyam Registrationcertificate Verification Status</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="udhyamRegistrationcertificateVerificationStatus"
            id="field_udhyamRegistrationcertificateVerificationStatus"
            data-cy="udhyamRegistrationcertificateVerificationStatus"
            formControlName="udhyamRegistrationcertificateVerificationStatus"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.anchorTrader.kycDeclaration" for="field_kycDeclaration">Kyc Declaration</label>
          <input
            type="checkbox"
            class="form-check"
            name="kycDeclaration"
            id="field_kycDeclaration"
            data-cy="kycDeclaration"
            formControlName="kycDeclaration"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
