<div>
  <h2 id="page-heading" data-cy="CREHighlightsHeading">
    <span jhiTranslate="cbapisApp.cREHighlights.home.title">CRE Highlights</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbapisApp.cREHighlights.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cre-highlights"
        [routerLink]="['/cre-highlights/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbapisApp.cREHighlights.home.createLabel">Create a new CRE Highlights</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (cREHighlights?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="cbapisApp.cREHighlights.home.notFound">No CRE Highlights found</span>
    </div>
  }

  @if (cREHighlights && cREHighlights.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creHighlightsId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.cREHighlights.creHighlightsId">Cre Highlights Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creHighlightsUlidId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.cREHighlights.creHighlightsUlidId">Cre Highlights Ulid Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creRequestId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.cREHighlights.creRequestId">Cre Request Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="highlights">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.cREHighlights.highlights">Highlights</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assessmentId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.cREHighlights.assessmentId">Assessment Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="individualassessment.assessmentId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.cREHighlights.individualassessment">Individualassessment</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cREHighlights of cREHighlights; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cre-highlights', cREHighlights.id, 'view']">{{ cREHighlights.id }}</a>
              </td>
              <td>{{ cREHighlights.creHighlightsId }}</td>
              <td>{{ cREHighlights.creHighlightsUlidId }}</td>
              <td>{{ cREHighlights.creRequestId }}</td>
              <td>{{ cREHighlights.highlights }}</td>
              <td>{{ cREHighlights.assessmentId }}</td>
              <td>
                @if (cREHighlights.individualassessment) {
                  <div>
                    <a [routerLink]="['/individual-assessment', cREHighlights.individualassessment.id, 'view']">{{
                      cREHighlights.individualassessment.assessmentId
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/cre-highlights', cREHighlights.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/cre-highlights', cREHighlights.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(cREHighlights)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (cREHighlights && cREHighlights.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
