<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-trade-entity-heading"
        data-cy="TradeEntityCreateUpdateHeading"
        jhiTranslate="cbapisApp.tradeEntity.home.createOrEditLabel"
      >
        Create or edit a Trade Entity
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.tradeEntity.entityId" for="field_entityId">Entity Id</label>
          <input type="number" class="form-control" name="entityId" id="field_entityId" data-cy="entityId" formControlName="entityId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.tradeEntity.entityName" for="field_entityName">Entity Name</label>
          <input
            type="text"
            class="form-control"
            name="entityName"
            id="field_entityName"
            data-cy="entityName"
            formControlName="entityName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.tradeEntity.entityDesc" for="field_entityDesc">Entity Desc</label>
          <input
            type="text"
            class="form-control"
            name="entityDesc"
            id="field_entityDesc"
            data-cy="entityDesc"
            formControlName="entityDesc"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.tradeEntity.entityGST" for="field_entityGST">Entity GST</label>
          <input type="text" class="form-control" name="entityGST" id="field_entityGST" data-cy="entityGST" formControlName="entityGST" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
