<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-context-heading" data-cy="ContextCreateUpdateHeading" jhiTranslate="cbapisApp.context.home.createOrEditLabel">
        Create or edit a Context
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.context.transactionId" for="field_transactionId">Transaction Id</label>
          <input
            type="text"
            class="form-control"
            name="transactionId"
            id="field_transactionId"
            data-cy="transactionId"
            formControlName="transactionId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.context.transactionDate" for="field_transactionDate">Transaction Date</label>
          <input
            type="text"
            class="form-control"
            name="transactionDate"
            id="field_transactionDate"
            data-cy="transactionDate"
            formControlName="transactionDate"
          />
          @if (
            editForm.get('transactionDate')!.invalid && (editForm.get('transactionDate')!.dirty || editForm.get('transactionDate')!.touched)
          ) {
            <div>
              @if (editForm.get('transactionDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.context.action" for="field_action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
          @if (editForm.get('action')!.invalid && (editForm.get('action')!.dirty || editForm.get('action')!.touched)) {
            <div>
              @if (editForm.get('action')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.context.userId" for="field_userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          @if (editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)) {
            <div>
              @if (editForm.get('userId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.context.tenantId" for="field_tenantId">Tenant Id</label>
          <input type="text" class="form-control" name="tenantId" id="field_tenantId" data-cy="tenantId" formControlName="tenantId" />
          @if (editForm.get('tenantId')!.invalid && (editForm.get('tenantId')!.dirty || editForm.get('tenantId')!.touched)) {
            <div>
              @if (editForm.get('tenantId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.context.cpCode" for="field_cpCode">Cp Code</label>
          <input type="text" class="form-control" name="cpCode" id="field_cpCode" data-cy="cpCode" formControlName="cpCode" />
          @if (editForm.get('cpCode')!.invalid && (editForm.get('cpCode')!.dirty || editForm.get('cpCode')!.touched)) {
            <div>
              @if (editForm.get('cpCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.context.msgpayload" for="field_msgpayload">Msgpayload</label>
          <input
            type="text"
            class="form-control"
            name="msgpayload"
            id="field_msgpayload"
            data-cy="msgpayload"
            formControlName="msgpayload"
          />
          @if (editForm.get('msgpayload')!.invalid && (editForm.get('msgpayload')!.dirty || editForm.get('msgpayload')!.touched)) {
            <div>
              @if (editForm.get('msgpayload')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
