<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-repayment-heading" data-cy="RepaymentCreateUpdateHeading" jhiTranslate="cbapisApp.repayment.home.createOrEditLabel">
        Create or edit a Repayment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.repaymentId" for="field_repaymentId">Repayment Id</label>
          <input
            type="number"
            class="form-control"
            name="repaymentId"
            id="field_repaymentId"
            data-cy="repaymentId"
            formControlName="repaymentId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.repaymentUlidId" for="field_repaymentUlidId">Repayment Ulid Id</label>
          <input
            type="text"
            class="form-control"
            name="repaymentUlidId"
            id="field_repaymentUlidId"
            data-cy="repaymentUlidId"
            formControlName="repaymentUlidId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.repaymentRefNo" for="field_repaymentRefNo">Repayment Ref No</label>
          <input
            type="text"
            class="form-control"
            name="repaymentRefNo"
            id="field_repaymentRefNo"
            data-cy="repaymentRefNo"
            formControlName="repaymentRefNo"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.acceptedOfferUlidId" for="field_acceptedOfferUlidId"
            >Accepted Offer Ulid Id</label
          >
          <input
            type="text"
            class="form-control"
            name="acceptedOfferUlidId"
            id="field_acceptedOfferUlidId"
            data-cy="acceptedOfferUlidId"
            formControlName="acceptedOfferUlidId"
          />
          @if (
            editForm.get('acceptedOfferUlidId')!.invalid &&
            (editForm.get('acceptedOfferUlidId')!.dirty || editForm.get('acceptedOfferUlidId')!.touched)
          ) {
            <div>
              @if (editForm.get('acceptedOfferUlidId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.placedOfferUlidId" for="field_placedOfferUlidId"
            >Placed Offer Ulid Id</label
          >
          <input
            type="text"
            class="form-control"
            name="placedOfferUlidId"
            id="field_placedOfferUlidId"
            data-cy="placedOfferUlidId"
            formControlName="placedOfferUlidId"
          />
          @if (
            editForm.get('placedOfferUlidId')!.invalid &&
            (editForm.get('placedOfferUlidId')!.dirty || editForm.get('placedOfferUlidId')!.touched)
          ) {
            <div>
              @if (editForm.get('placedOfferUlidId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.reqOffUlidId" for="field_reqOffUlidId">Req Off Ulid Id</label>
          <input
            type="text"
            class="form-control"
            name="reqOffUlidId"
            id="field_reqOffUlidId"
            data-cy="reqOffUlidId"
            formControlName="reqOffUlidId"
          />
          @if (editForm.get('reqOffUlidId')!.invalid && (editForm.get('reqOffUlidId')!.dirty || editForm.get('reqOffUlidId')!.touched)) {
            <div>
              @if (editForm.get('reqOffUlidId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.offerAcceptedDate" for="field_offerAcceptedDate"
            >Offer Accepted Date</label
          >
          <div class="input-group">
            <input
              id="field_offerAcceptedDate"
              data-cy="offerAcceptedDate"
              type="text"
              class="form-control"
              name="offerAcceptedDate"
              ngbDatepicker
              #offerAcceptedDateDp="ngbDatepicker"
              formControlName="offerAcceptedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="offerAcceptedDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          @if (
            editForm.get('offerAcceptedDate')!.invalid &&
            (editForm.get('offerAcceptedDate')!.dirty || editForm.get('offerAcceptedDate')!.touched)
          ) {
            <div>
              @if (editForm.get('offerAcceptedDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.dbmtRequestId" for="field_dbmtRequestId">Dbmt Request Id</label>
          <input
            type="text"
            class="form-control"
            name="dbmtRequestId"
            id="field_dbmtRequestId"
            data-cy="dbmtRequestId"
            formControlName="dbmtRequestId"
          />
          @if (editForm.get('dbmtRequestId')!.invalid && (editForm.get('dbmtRequestId')!.dirty || editForm.get('dbmtRequestId')!.touched)) {
            <div>
              @if (editForm.get('dbmtRequestId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.dbmtStatus" for="field_dbmtStatus">Dbmt Status</label>
          <input
            type="text"
            class="form-control"
            name="dbmtStatus"
            id="field_dbmtStatus"
            data-cy="dbmtStatus"
            formControlName="dbmtStatus"
          />
          @if (editForm.get('dbmtStatus')!.invalid && (editForm.get('dbmtStatus')!.dirty || editForm.get('dbmtStatus')!.touched)) {
            <div>
              @if (editForm.get('dbmtStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.dbmtDateTime" for="field_dbmtDateTime">Dbmt Date Time</label>
          <input
            type="text"
            class="form-control"
            name="dbmtDateTime"
            id="field_dbmtDateTime"
            data-cy="dbmtDateTime"
            formControlName="dbmtDateTime"
          />
          @if (editForm.get('dbmtDateTime')!.invalid && (editForm.get('dbmtDateTime')!.dirty || editForm.get('dbmtDateTime')!.touched)) {
            <div>
              @if (editForm.get('dbmtDateTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.dbmtId" for="field_dbmtId">Dbmt Id</label>
          <input type="number" class="form-control" name="dbmtId" id="field_dbmtId" data-cy="dbmtId" formControlName="dbmtId" />
          @if (editForm.get('dbmtId')!.invalid && (editForm.get('dbmtId')!.dirty || editForm.get('dbmtId')!.touched)) {
            <div>
              @if (editForm.get('dbmtId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dbmtId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.dbmtAmount" for="field_dbmtAmount">Dbmt Amount</label>
          <input
            type="number"
            class="form-control"
            name="dbmtAmount"
            id="field_dbmtAmount"
            data-cy="dbmtAmount"
            formControlName="dbmtAmount"
          />
          @if (editForm.get('dbmtAmount')!.invalid && (editForm.get('dbmtAmount')!.dirty || editForm.get('dbmtAmount')!.touched)) {
            <div>
              @if (editForm.get('dbmtAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dbmtAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.currency" for="field_currency">Currency</label>
          <input type="text" class="form-control" name="currency" id="field_currency" data-cy="currency" formControlName="currency" />
          @if (editForm.get('currency')!.invalid && (editForm.get('currency')!.dirty || editForm.get('currency')!.touched)) {
            <div>
              @if (editForm.get('currency')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.repaymentStatus" for="field_repaymentStatus">Repayment Status</label>
          <input
            type="text"
            class="form-control"
            name="repaymentStatus"
            id="field_repaymentStatus"
            data-cy="repaymentStatus"
            formControlName="repaymentStatus"
          />
          @if (
            editForm.get('repaymentStatus')!.invalid && (editForm.get('repaymentStatus')!.dirty || editForm.get('repaymentStatus')!.touched)
          ) {
            <div>
              @if (editForm.get('repaymentStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.repaymentDate" for="field_repaymentDate">Repayment Date</label>
          <div class="input-group">
            <input
              id="field_repaymentDate"
              data-cy="repaymentDate"
              type="text"
              class="form-control"
              name="repaymentDate"
              ngbDatepicker
              #repaymentDateDp="ngbDatepicker"
              formControlName="repaymentDate"
            />
            <button type="button" class="btn btn-secondary" (click)="repaymentDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.repaymentAmount" for="field_repaymentAmount">Repayment Amount</label>
          <input
            type="number"
            class="form-control"
            name="repaymentAmount"
            id="field_repaymentAmount"
            data-cy="repaymentAmount"
            formControlName="repaymentAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.financeRequestId" for="field_financeRequestId"
            >Finance Request Id</label
          >
          <input
            type="number"
            class="form-control"
            name="financeRequestId"
            id="field_financeRequestId"
            data-cy="financeRequestId"
            formControlName="financeRequestId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.repaymentDueDate" for="field_repaymentDueDate"
            >Repayment Due Date</label
          >
          <div class="input-group">
            <input
              id="field_repaymentDueDate"
              data-cy="repaymentDueDate"
              type="text"
              class="form-control"
              name="repaymentDueDate"
              ngbDatepicker
              #repaymentDueDateDp="ngbDatepicker"
              formControlName="repaymentDueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="repaymentDueDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.totalRepaymentAmount" for="field_totalRepaymentAmount"
            >Total Repayment Amount</label
          >
          <input
            type="text"
            class="form-control"
            name="totalRepaymentAmount"
            id="field_totalRepaymentAmount"
            data-cy="totalRepaymentAmount"
            formControlName="totalRepaymentAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.amountRepayed" for="field_amountRepayed">Amount Repayed</label>
          <input
            type="text"
            class="form-control"
            name="amountRepayed"
            id="field_amountRepayed"
            data-cy="amountRepayed"
            formControlName="amountRepayed"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.amountToBePaid" for="field_amountToBePaid">Amount To Be Paid</label>
          <input
            type="text"
            class="form-control"
            name="amountToBePaid"
            id="field_amountToBePaid"
            data-cy="amountToBePaid"
            formControlName="amountToBePaid"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.sourceAccountName" for="field_sourceAccountName"
            >Source Account Name</label
          >
          <input
            type="text"
            class="form-control"
            name="sourceAccountName"
            id="field_sourceAccountName"
            data-cy="sourceAccountName"
            formControlName="sourceAccountName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.sourceAccountNumber" for="field_sourceAccountNumber"
            >Source Account Number</label
          >
          <input
            type="text"
            class="form-control"
            name="sourceAccountNumber"
            id="field_sourceAccountNumber"
            data-cy="sourceAccountNumber"
            formControlName="sourceAccountNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.ifscCode" for="field_ifscCode">Ifsc Code</label>
          <input type="text" class="form-control" name="ifscCode" id="field_ifscCode" data-cy="ifscCode" formControlName="ifscCode" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.recordStatus" for="field_recordStatus">Record Status</label>
          <input
            type="text"
            class="form-control"
            name="recordStatus"
            id="field_recordStatus"
            data-cy="recordStatus"
            formControlName="recordStatus"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.referenceNumber" for="field_referenceNumber">Reference Number</label>
          <input
            type="text"
            class="form-control"
            name="referenceNumber"
            id="field_referenceNumber"
            data-cy="referenceNumber"
            formControlName="referenceNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.repayment.financerequest" for="field_financerequest">Financerequest</label>
          <select
            class="form-control"
            id="field_financerequest"
            data-cy="financerequest"
            name="financerequest"
            formControlName="financerequest"
            [compareWith]="compareFinanceRequest"
          >
            <option [ngValue]="null"></option>
            @for (financeRequestOption of financeRequestsSharedCollection; track $index) {
              <option [ngValue]="financeRequestOption">{{ financeRequestOption.financeRequestId }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
