<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (individualAssessment) {
      <div>
        <h2 data-cy="individualAssessmentDetailsHeading">
          <span jhiTranslate="cbapisApp.individualAssessment.detail.title">Individual Assessment</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ individualAssessment.id }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.assessmentId">Assessment Id</span></dt>
          <dd>
            <span>{{ individualAssessment.assessmentId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.assessmentUlidId">Assessment Ulid Id</span></dt>
          <dd>
            <span>{{ individualAssessment.assessmentUlidId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.creditScore">Credit Score</span></dt>
          <dd>
            <span>{{ individualAssessment.creditScore }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.finalVerdict">Final Verdict</span></dt>
          <dd>
            <span>{{ individualAssessment.finalVerdict }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.creRequestId">Cre Request Id</span></dt>
          <dd>
            <span>{{ individualAssessment.creRequestId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.timestamp">Timestamp</span></dt>
          <dd>
            <span>{{ individualAssessment.timestamp }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.tradePartnerGST">Trade Partner GST</span></dt>
          <dd>
            <span>{{ individualAssessment.tradePartnerGST }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.tradePartnerId">Trade Partner Id</span></dt>
          <dd>
            <span>{{ individualAssessment.tradePartnerId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.invoiceAmount">Invoice Amount</span></dt>
          <dd>
            <span>{{ individualAssessment.invoiceAmount }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.invoiceId">Invoice Id</span></dt>
          <dd>
            <span>{{ individualAssessment.invoiceId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.baseScore">Base Score</span></dt>
          <dd>
            <span>{{ individualAssessment.baseScore }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.ctin">Ctin</span></dt>
          <dd>
            <span>{{ individualAssessment.ctin }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.invDate">Inv Date</span></dt>
          <dd>
            <span>{{ individualAssessment.invDate }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.cbProcessId">Cb Process Id</span></dt>
          <dd>
            <span>{{ individualAssessment.cbProcessId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.grnPresent">Grn Present</span></dt>
          <dd>
            <span>{{ individualAssessment.grnPresent }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.einvoicePresent">Einvoice Present</span></dt>
          <dd>
            <span>{{ individualAssessment.einvoicePresent }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.ewayBillPresent">Eway Bill Present</span></dt>
          <dd>
            <span>{{ individualAssessment.ewayBillPresent }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.tradePartnerConfirmation">Trade Partner Confirmation</span></dt>
          <dd>
            <span>{{ individualAssessment.tradePartnerConfirmation }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.individualAssessment.cbcreprocess">Cbcreprocess</span></dt>
          <dd>
            @if (individualAssessment.cbcreprocess) {
              <div>
                <a [routerLink]="['/cbcre-process', individualAssessment.cbcreprocess.id, 'view']">{{
                  individualAssessment.cbcreprocess.cbProcessId
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/individual-assessment', individualAssessment.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
