<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (gstin) {
      <div>
        <h2 data-cy="gstinDetailsHeading"><span jhiTranslate="cbapisApp.gstin.detail.title">Gstin</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ gstin.id }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.gstin.companyName">Company Name</span></dt>
          <dd>
            <span>{{ gstin.companyName }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.gstin.gstId">Gst Id</span></dt>
          <dd>
            <span>{{ gstin.gstId }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.gstin.organization">Organization</span></dt>
          <dd>
            @if (gstin.organization) {
              <div>
                <a [routerLink]="['/organization', gstin.organization.id, 'view']">{{ gstin.organization.orgId }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/gstin', gstin.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
