<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (clientCodes) {
      <div>
        <h2 data-cy="clientCodesDetailsHeading"><span jhiTranslate="cbapisApp.clientCodes.detail.title">Client Codes</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ clientCodes.id }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.clientCodes.clientCode">Client Code</span></dt>
          <dd>
            <span>{{ clientCodes.clientCode }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.clientCodes.clientCharsCode">Client Chars Code</span></dt>
          <dd>
            <span>{{ clientCodes.clientCharsCode }}</span>
          </dd>
          <dt><span jhiTranslate="cbapisApp.clientCodes.clientName">Client Name</span></dt>
          <dd>
            <span>{{ clientCodes.clientName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/client-codes', clientCodes.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
