<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-organization-heading"
        data-cy="OrganizationCreateUpdateHeading"
        jhiTranslate="cbapisApp.organization.home.createOrEditLabel"
      >
        Create or edit a Organization
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.organization.orgId" for="field_orgId">Org Id</label>
          <input type="number" class="form-control" name="orgId" id="field_orgId" data-cy="orgId" formControlName="orgId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.organization.orgUlidId" for="field_orgUlidId">Org Ulid Id</label>
          <input type="text" class="form-control" name="orgUlidId" id="field_orgUlidId" data-cy="orgUlidId" formControlName="orgUlidId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.organization.orgName" for="field_orgName">Org Name</label>
          <input type="text" class="form-control" name="orgName" id="field_orgName" data-cy="orgName" formControlName="orgName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.organization.orgAddress" for="field_orgAddress">Org Address</label>
          <input
            type="text"
            class="form-control"
            name="orgAddress"
            id="field_orgAddress"
            data-cy="orgAddress"
            formControlName="orgAddress"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.organization.industryType" for="field_industryType">Industry Type</label>
          <input
            type="text"
            class="form-control"
            name="industryType"
            id="field_industryType"
            data-cy="industryType"
            formControlName="industryType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.organization.tenantId" for="field_tenantId">Tenant Id</label>
          <input type="text" class="form-control" name="tenantId" id="field_tenantId" data-cy="tenantId" formControlName="tenantId" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
