<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-cbcre-process-heading"
        data-cy="CBCREProcessCreateUpdateHeading"
        jhiTranslate="cbapisApp.cBCREProcess.home.createOrEditLabel"
      >
        Create or edit a CBCRE Process
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.cbProcessId" for="field_cbProcessId">Cb Process Id</label>
          <input
            type="text"
            class="form-control"
            name="cbProcessId"
            id="field_cbProcessId"
            data-cy="cbProcessId"
            formControlName="cbProcessId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.financeRequestId" for="field_financeRequestId"
            >Finance Request Id</label
          >
          <input
            type="text"
            class="form-control"
            name="financeRequestId"
            id="field_financeRequestId"
            data-cy="financeRequestId"
            formControlName="financeRequestId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.anchorTraderId" for="field_anchorTraderId">Anchor Trader Id</label>
          <input
            type="text"
            class="form-control"
            name="anchorTraderId"
            id="field_anchorTraderId"
            data-cy="anchorTraderId"
            formControlName="anchorTraderId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.anchortTraderGst" for="field_anchortTraderGst"
            >Anchort Trader Gst</label
          >
          <input
            type="text"
            class="form-control"
            name="anchortTraderGst"
            id="field_anchortTraderGst"
            data-cy="anchortTraderGst"
            formControlName="anchortTraderGst"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.financeAmount" for="field_financeAmount">Finance Amount</label>
          <input
            type="text"
            class="form-control"
            name="financeAmount"
            id="field_financeAmount"
            data-cy="financeAmount"
            formControlName="financeAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.processDateTime" for="field_processDateTime"
            >Process Date Time</label
          >
          <input
            type="text"
            class="form-control"
            name="processDateTime"
            id="field_processDateTime"
            data-cy="processDateTime"
            formControlName="processDateTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.creProcessStatus" for="field_creProcessStatus"
            >Cre Process Status</label
          >
          <input
            type="text"
            class="form-control"
            name="creProcessStatus"
            id="field_creProcessStatus"
            data-cy="creProcessStatus"
            formControlName="creProcessStatus"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.responseDateTime" for="field_responseDateTime"
            >Response Date Time</label
          >
          <input
            type="text"
            class="form-control"
            name="responseDateTime"
            id="field_responseDateTime"
            data-cy="responseDateTime"
            formControlName="responseDateTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.creRequestId" for="field_creRequestId">Cre Request Id</label>
          <input
            type="text"
            class="form-control"
            name="creRequestId"
            id="field_creRequestId"
            data-cy="creRequestId"
            formControlName="creRequestId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.cumilativetradescore" for="field_cumilativetradescore"
            >Cumilativetradescore</label
          >
          <input
            type="number"
            class="form-control"
            name="cumilativetradescore"
            id="field_cumilativetradescore"
            data-cy="cumilativetradescore"
            formControlName="cumilativetradescore"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.timestamp" for="field_timestamp">Timestamp</label>
          <input type="text" class="form-control" name="timestamp" id="field_timestamp" data-cy="timestamp" formControlName="timestamp" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.totalAmountRequested" for="field_totalAmountRequested"
            >Total Amount Requested</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAmountRequested"
            id="field_totalAmountRequested"
            data-cy="totalAmountRequested"
            formControlName="totalAmountRequested"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cbapisApp.cBCREProcess.totalInvoiceAmount" for="field_totalInvoiceAmount"
            >Total Invoice Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="totalInvoiceAmount"
            id="field_totalInvoiceAmount"
            data-cy="totalInvoiceAmount"
            formControlName="totalInvoiceAmount"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
