<div>
  <h2 id="page-heading" data-cy="ProspectRequestHeading">
    <span jhiTranslate="cbapisApp.prospectRequest.home.title">Prospect Requests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbapisApp.prospectRequest.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prospect-request"
        [routerLink]="['/prospect-request/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbapisApp.prospectRequest.home.createLabel">Create a new Prospect Request</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (prospectRequests?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="cbapisApp.prospectRequest.home.notFound">No Prospect Requests found</span>
    </div>
  }

  @if (prospectRequests && prospectRequests.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prospectRequestId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.prospectRequest.prospectRequestId">Prospect Request Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="anchorTraderId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.prospectRequest.anchorTraderId">Anchor Trader Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="requestAmount">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.prospectRequest.requestAmount">Request Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prospectRequestDate">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.prospectRequest.prospectRequestDate">Prospect Request Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currency">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.prospectRequest.currency">Currency</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="financerequest.requestId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.prospectRequest.financerequest">Financerequest</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (prospectRequest of prospectRequests; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/prospect-request', prospectRequest.id, 'view']">{{ prospectRequest.id }}</a>
              </td>
              <td>{{ prospectRequest.prospectRequestId }}</td>
              <td>{{ prospectRequest.anchorTraderId }}</td>
              <td>{{ prospectRequest.requestAmount }}</td>
              <td>{{ prospectRequest.prospectRequestDate | formatMediumDate }}</td>
              <td>{{ prospectRequest.currency }}</td>
              <td>
                @if (prospectRequest.financerequest) {
                  <div>
                    <a [routerLink]="['/finance-request', prospectRequest.financerequest.id, 'view']">{{
                      prospectRequest.financerequest.requestId
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/prospect-request', prospectRequest.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/prospect-request', prospectRequest.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(prospectRequest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (prospectRequests && prospectRequests.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
