<div>
  <h2 id="page-heading" data-cy="FinancePartnerHeading">
    <span jhiTranslate="cbapisApp.financePartner.home.title">Finance Partners</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cbapisApp.financePartner.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-finance-partner"
        [routerLink]="['/finance-partner/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cbapisApp.financePartner.home.createLabel">Create a new Finance Partner</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (financePartners?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="cbapisApp.financePartner.home.notFound">No Finance Partners found</span>
    </div>
  }

  @if (financePartners && financePartners.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenantId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.financePartner.tenantId">Tenant Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fpId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.financePartner.fpId">Fp Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orgId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.financePartner.orgId">Org Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customerName">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.financePartner.customerName">Customer Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orgName">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.financePartner.orgName">Org Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gstId">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.financePartner.gstId">Gst Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="cbapisApp.financePartner.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (financePartner of financePartners; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/finance-partner', financePartner.id, 'view']">{{ financePartner.id }}</a>
              </td>
              <td>{{ financePartner.tenantId }}</td>
              <td>{{ financePartner.fpId }}</td>
              <td>{{ financePartner.orgId }}</td>
              <td>{{ financePartner.customerName }}</td>
              <td>{{ financePartner.orgName }}</td>
              <td>{{ financePartner.gstId }}</td>
              <td>{{ financePartner.phoneNumber }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/finance-partner', financePartner.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/finance-partner', financePartner.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(financePartner)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (financePartners && financePartners.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
